{% extends "base.html" %}

{% block content %}
<div class="prmdp d-flex justify-content-center">
    <p>Cher {{pseudo_utilisateur}} ,vous avez accepter l'invitation du groupe {{groupe_nom}}</p>
</div>
{% endblock %}