{% extends "base.html" %}

{% block content %}
        <form method="POST" action="{{url_for("page_arduino") }}">
            {{ form.hidden_tag() }}
            <section class="creation-groupe-section">
                <h2 id="title-add-arduino">Ajout d'une carte arduino</h2>
                    <div class="effect-arduino-creation">
                        {{ form.nom_arduino(type="text",size=50, class_="effet-input focus-border", placeholder="Nom de la carte") }}
                        <span class="focus-border">
                            <i></i>
                        </span>
                    </div>
                        <button class="btn btn-success btn-arduino-add">Ajouter le capteur</button>
            </section>
        </form>
{% endblock %}
