<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Ajouter un capteur</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/fontawesome-all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Accordion.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive-index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/connecter.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <link rel="stylesheet" href="assets/css/Tricky-Grid---2-Column-on-Desktop--Tablet-Flip-Order-of-12-Column-rows-on-Mobile.css">
</head>
<body>
    <form class="bootstrap-form-with-validation" method="POST" action="{{url_for('page_groupe_capteur_ajout') }}">
        {{ form.hidden_tag() }}
        <h2 class="tAjoutCap text-center">Ajouter un capteur</h2>
        <div class="form-group effect-capteur-creation">
            {{ form.ref(type="text",size=50, class_="effet-input focus-border", placeholder="Reference") }}
            <span class="focus-border">
                <i></i>
            </span>
        </div>
        <div class="form-group effect-capteur-creation">
            {{ form.nom(size=50, class_="effet-input focus-border", placeholder="Nom") }}
            <span class="focus-border">
                <i></i>
            </span>
        </div>
        <div class="form-group effect-capteur-creation">
            {{ form.type(size=50, class_="effet-input focus-border", placeholder="Type") }}
            <span class="focus-border">
                <i></i>
            </span>
        </div>
        <div class="form-group effect-capteur-creation">
            <label for="groupe">Groupes</label>
            {{ form.csrf_token }}
            {{ form.groupe }}
            <ul>
                {% for error in form.groupe.errors %}
                <li> {{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="form-group effect-capteur-creation">
            <label for="arduino">Carte Arduino</label>
            {{ form.csrf_token }}
            {{ form.arduino}}
            <ul>
                {% for error in form.arduino.errors %}
                <li> {{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="form-group effect-capteur-creation">
            {{ form.gphysique(size=50, class_="effet-input focus-border", placeholder="Grandeur Physique") }}
            <span class="focus-border">
                <i></i>
            </span>
        </div>
        <div class="form-group"> 
            {{ form.submit(class="btn btn-outline-success btn-creation-capteur",value="Valider l'ajout") }}
        </div>
    </form>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
