{% extends "base.html" %}

{% block content %}
    
<div class="prmdp d-flex justify-content-center">
    <p>Votre mot de passe a été reinitialisé. Votre nouveau mot de passe temporaire est  {{new_mdp}}</p>
</div>
{% endblock %}
