div.content-sections {
  width: 50%;
  height: 105vh;
  margin-left: 24%;
}


ul.option2graph {
  list-style: none;
  border-width: 1px;
  border-top: #000000;
  background-color: green;
  color: white;
  padding: 4vh;
  border-radius: 30px;
}

div.titre{
  margin-left: 45vh;
}


div.titre input{
  width: 24vh;
  padding: 0.5vh;
}

div.graphique{
  margin-left: 2vh;
  margin-top: 13vh;
}

div.checkbox_graph{
  margin-top: 4vh;
  padding: 2vh;
  margin-left: 32%;
  padding: 3vh;
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
}

div.checkbox_graph input{
  margin-top: 4vh;
  width: 3vh;
}

.titreoption{
  width: 93%;
  height: 3vh;
  text-align: center !important;
  color: white;
  padding-top: 2vh;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 9999;
}


main{
  margin-top: 9vh;
  min-height: 80vh;
}

div.content-section-x{
  width: 100%;
  height: 110vh;
}

section.pagegraph{
  width: 100%;
  height: 75vh;
}

h1{
width:55%;
position: absolute;
height: 25%;
font-family: Play;
font-style: normal;
font-size: 175%;
/* or 366% */
letter-spacing: 0.09em;

color: #000000;
}


/* page Se connecter */
section.sectco{
  width: 100%;
  height: 100vh;
}

h1.seconnecter {

width:97%;
margin-top: 11%;
}
div.seconnecter{
  height: 25%;
  margin-top: 3%;
  position: absolute;
  left: 45.5%;
  margin-bottom: 1%;
}
.form-group{  
  font-family: Play;
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.09em;
}
div.form-group-id{
  position: absolute;
  width: 25%;
  height: 32px;
  left: 36%;
  margin-top: 17%;
}
div.form-group-mdp{
  position: absolute;
  width: 25%;
  height: 32px;
  left: 36%;
  margin-top: 25%;

}
.btnseco{
  position: absolute;

  /* or 106% */
  
  color: #FBF4F4;
  width: 10%;
  height:51px;
  left: 34%;
  margin-top: 32%;

  background: #2E9514;
  border-radius: 11.8507px;
}
.btnmdpo{
  position: absolute;
  
  /* or 106% */
  font-size: 1.6vh;
  line-height: 22px;
  
  width: 10%;
  height: 51px;
  left: 51%;
  margin-top: 31.2%;

  background: #696262;
  border-radius: 11.8507px;
}
.btnmdpo>a{
  color: #FBF4F4;
}
.btnnoaccount{
  position: absolute;
  width: 15%;
  height: 5%;
  left: 40%;
  margin-top: 38%;
  border: none;
  color: #000000;
  background-color: #FFFFFF;
}
.ligneGaucheConnecter{
  position: absolute;
  width: 35%;
  height: 0%;
  margin-top: 20%;
  border: 0.740669px solid #012B05;
  transform: matrix(0, 1, -1, 0, 0, 0);
    
  }
  
.ligneDroiteConnecter{
  position: absolute;
  width: 35%;
  height: 0%;
  left: 62%;
  margin-top: 20%;
    
  border: 0.740669px solid #012B05;
  transform: matrix(0, 1, -1, 0, 0, 0);
      
  }
@media (max-width:1500px) {
  section.sectco {
    height: 150vh;
  }
  h1.seconnecter {
    margin-top: 16%;
    margin-left: 1%;
    }
    
  div.seconnecter{
    margin-top: 6%;
    }
  .form-group{  
    font-size: 13px;
    line-height: 28px;
    letter-spacing: 0.07em;
    }
    div.form-group-id{
      height: 28px;
      left: 36%;
      margin-top: 21%;
    }
    div.form-group-mdp{
      height: 28px;
      left: 36%;
      margin-top: 29%;
    }
    .btnseco{
      color: #FBF4F4;
      left: 33%;
      font-size: 2vh;
      margin-top: 39%;
    }
    .btnmdpo{
      margin-top: 37.5%;
      left:54%;
    }
    .btnnoaccount{
      left: 41%;
      margin-top: 45%;
      background-color: #FFFFFF;
    }
    .ligneGaucheConnecter{
      margin-top: 25%;
    }
      
    .ligneDroiteConnecter{
      margin-top: 23.8%; 
      left:61.5%;
    }
}





