/* page groupes (et groupe) */
div.content-section-groupes{
    width: 100%;
    height: 170vh;
  }
  @media (max-width:1500px) {
    div.content-section-groupes {
      height: 200vh;
    }
  }
  .iframe_groupe{
    position: absolute;
    margin-left: 35%;
    top: 20%;
  }
  @media (max-width:1500px) {
    .iframe_groupe {
      width:60%;
      margin-top: 0%;
      height: 60%;
      margin-left:30%;
    }
  }
  .titreGroupes{
    top:18.5%;
    left:5%;
    font-size: 230%;
  }
  
  iframe#iframe_map {
    /* width: 60%; */
    /* height: 70vh; */
    margin-left: 0%;
    position: absolute;
    top: 90%;
  }
  
  @media (max-width:1500px) {
    .titreGroupes {
      width: 100%;
      font-size: 180%;
      margin-top: 2%;
      height: 20px;
      text-align: center;
  }
    }
  
  .map_groupes{
    position: absolute;
    left:35%;
    top:105%;
    height: 60%;
    margin-top: 5%;
  }
  @media (max-width:1500px) {
    .map_groupes {
      width:40%;
      margin-top: 2%;
      height: 70%;
      left:30%;
    }
  }
  .input-group-groupes{
    position: absolute;
    top:105%;
    left:72%;
    margin-top:5%;
  }
  @media (max-width:1500px) {
    .input-group-groupes {
      width:40%;
      left:50%;
      top:70%;
    }
  }
  .traitMesgroupes{
    position: absolute;
    width: 55%;
    height: 0%;
    left: 28%;
    margin-top: 10%;
    
    border: 0.740669px solid #012B05;
  }
  @media (max-width:1500px) {
    .traitMesgroupes {
      margin-top: 12.5%;
      left: 30%;
      width: 60%;
    }
  }
  .titreAside{
    font-family: Play;
    font-size: 170%;
    margin-bottom: 10%;
  }
  .divAside{
    left: 5%;
    top: 15%;
  }
  
  .ulrow{
    list-style: none;
    margin-top: 5%;
    height: auto;
    position:fixed;
    z-index:9999;
    
  }
  .ligroupe{
    margin-top: 25%;
  }
  
  
  .inputReinitialiserMdp{
    position: inherit;
    height: 53px;
    width : 500px;
    font-family: Play;
    line-height: 50px;
    margin-left:25%;
    margin-top: 7.5%;
  }
  
  .titreGroupe{
    margin-top: 10%;
    margin-left:20%;
  }
  .capteurs_groupe{
  
    margin-top: 3%;
    font-family: Play;
    margin-bottom: 2%;
  }
  
  
  .membres_groupe{
    font-family: Play;
    margin-right: 2%;
    margin-top: 4%;
  }
  .btsupprmembre{
    margin: 10%;
  }
  h2.TinfosGroupes{
    font-size: 160%;
  }
  div.capteurs_groupe>a,div.membres_groupe>a{
    margin-left:20%;
    margin-top: 4%;
    margin-bottom: 6%;
  }
  div.capteurs_groupe>ul>li,div.membres_groupe>ul>li{color: #086912;
    list-style: none;
  
  }
  button.btn-croix-groupe{
    margin-left: 90%;
    border: none;
  }
  .tGroupe{
    top:3%;
    font-size: 250%;
    left:3%
  }
  @media (max-width:1500px){
    .titreAside{
      font-family: Play;
      font-size: 170%;
      margin-bottom: 10%;
    }
    .divAside{
      left: 5%;
      top: 15%;
    }
    
    .ulrow{
      list-style: none;
      margin-top: 5%;
      height: auto;
      position:fixed;
      z-index:9999;
      
    }
    .ligroupe{
      margin-top: 25%;
    }
    
    
    .inputReinitialiserMdp{
      position: inherit;
      height: 53px;
      width : 500px;
      font-family: Play;
      line-height: 50px;
      margin-left:25%;
      margin-top: 7.5%;
    }
    
    .titreGroupe{
      margin-top: 15%;
      margin-left:10%;
      font-size: 150%;
    }
    .membres_groupe{
      font-family: Play;
      margin-right: 2%;
      margin-top: 0%;
    }
    .btsupprmembre{
      margin: 10%;
    }
    h2.TinfosGroupes{
      font-size: 160%;
    }
    div.capteurs_groupe>a,div.membres_groupe>a{
      margin-left:20%;
      margin-top: 2%;
      margin-bottom: 2%;
    }
    div.capteurs_groupe>ul>li,div.membres_groupe>ul>li{color: #086912;
      list-style: none;
      font-size: 100%;
    
    }
    div.capteurs_groupe>ul>li>h3,div.membres_groupe>ul>li>h3,div.capteurs_groupe>ul>li>h4,div.membres_groupe>ul>li>h4{
      font-size: 115%;
    }
    .tGroupe{
      top:6%;
      font-size: 200%;
      left:4%
    }
  }
  .calendriergraph {
    width: 100%;
    margin-top: 3VH;
    opacity: 0.7;
  }
  
  .calendriergraph:hover {
    opacity: 1;}