/* page s'inscrire */
div.content-section{
    width: 100%;
    height: 125vh;
  }
  h1.inscription {
    width:59%;
    top: 18%;
    left:20%;
  }
  div.form-group-pseudo{
    position: absolute;
    width: 25%;
    height: 32px;
    left: 35%;
    top: 30%;
  }
  div.form-group-prenom{
    position: absolute;
    width: 25%;
    height: 32px;
    left: 35%;
    top: 45%;
  
  }
  div.form-group-nom{
    position: absolute;
    width: 25%;
    height: 32px;
    left: 35%;
    top: 60%;
  }
  div.form-group-email{
    position: absolute;
    width: 25%;
    height: 32px;
    left: 35%;
    top: 75%;
  }
  div.form-group-mdpI{
    position: absolute;
    width: 25%;
    height: 32px;
    left: 35%;
    top: 90%;
  }
  div.form-group-CmdpI{
    position: absolute;
    width: 25%;
    height: 32px;
    
    left: 35%;
    top: 105%;
  }
  .btnsinscrire{
    position: absolute;  
    /* or 106% */
    
    color: #FBF4F4;
    width: 7%;
    height:44px;
    left: 45%;
    top: 120%;
  
  }
  .ligneGaucheInscription{
    position: absolute;
    width: 42%;
    height: 0%;
    left: 0%;
    top: 65%;
    border: 0.740669px solid #012B05;
    transform: matrix(0, 1, -1, 0, 0, 0);
    }
  
  .ligneDroiteInscription{
    position: absolute;
    width: 42%;
    height: 0%;
    left: 110vh;
    top: 65%; 
    border: 0.740669px solid #012B05;
    transform: matrix(0, 1, -1, 0, 0, 0);
    }
    .text-muted{
      position: absolute;
      left: 40%;
      top:127%;
      /* or 527% */
      color: #000000;
    
    }
    @media (max-width:1500px) {
      div.content-section{
        height: 135vh;
      }
      .btnsinscrire{
        position: absolute;  
        color: #FBF4F4;
        width: 7%;
        height:44px;
        left: 43%;
        top: 125%;
      
      }
      .text-muted{
        top:140%;
        left:36%;
      }
      .ligneDroiteInscription{
        width: 46%;
        left : 0%;
        top : 75%;
      }
      .ligneGaucheInscription{
        width: 46%;
        left:50%;
        top:75%;
      }
    }