/* page mdp_oublié*/
section.sectmdpo{
    width: 100%;
    height: 100vh;
  }
  h3.mailRecup{
  position: absolute;
  left: 20%;
  top: 50%;
  
  font-family: Play;
  font-style: normal;
  font-weight: bold;
  font-size: 125%;
  line-height: 40px;
  
  /* or 98% */
  letter-spacing: 0.09em;
  
  color: #000000;
  }
  h1.titreRecupMdp{
  position: absolute;
  width: 60%;
  top: 20%;
  font-family: Play;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 50px;
  
  /* or 320% */
  letter-spacing: 0.09em;
  
  color: #000000;
  }
  .traitMdpOublie{
    position: absolute;
    width: 45%;
    height: 0%;
    margin-top:14%;
    margin-left: 25%;
    
    border: 0.740669px solid #012B05;
  }
  div.form-group-emailRecup{
    position: absolute;
    width: 25%;
    height: 32px;
    left: 20%;
    top: 60%;
  }
  
  div.text-recup{
    position: absolute;
    width: 20%;
    height: 18%;
    left: 60%;
    top: 60%;
    
    border: 2.24655px solid #1F9F14;
    
    box-sizing: border-box;
    font-family: Play;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1.5em;
    
    /* or 111% */
    letter-spacing: 0.09em;
    
    color: #000000;
    }
    p.texteDroiteMdpRecup{
      margin: 3%;
    }
  
    .btnRecup{
    position: absolute;
    width:10%;
    height:5%;
    left: 30%;
    top: 80%;
    background: #024408;
    border-radius: 20px;
    line-height: 2.5em;
    }
    .texteRecup{
      background: none ;
      border: none;
    }
    @media (max-width:1500px) {
      div.form-group-emailRecup{
        top: 63%;
      }
      section.sectmdpo{
        height: 105vh;
      }
      div.text-recup{
        width: 30%;
        }
        p.texteDroiteMdpRecup{
          margin: 3%;
        }
        h1.titreRecupMdp{
          font-size: 25px;
        }
      
        .btnRecup{
        height:7%;
        left: 30%;
        top: 90%;
        }
        .traitMdpOublie{
          width: 60%;
          margin-top:15%;
        }
    }
  