/*Page profil*/
section.sectprofil{
    width: 100%;
    height: 120vh;
  }
    h1.titreProfil{
    position: absolute;
    width: 55%;
    top: 20%;
    left: 23%;
    font-size:220%
    }
  
    h3.titrelisteGroupes{
  position: absolute;
  width: 253px;
  height: 35px;
  top:25%;
  left:3%;
  
  font-weight: bold;
  font-size: 21px;
  line-height: 25px;
  }
  .ligneGaucheProfil{
  position: absolute;
  width: 45%;
  height: 0%;
  left: 2%;
  margin-top: 30%;
  border: 0.740669px solid #012B05;
  transform: matrix(0, 1, -1, 0, 0, 0);
    
  }
  
  .ligneDroiteProfil{
    position: absolute;
    width: 45%;
    height: 0%;
    left: 67%;
    margin-top: 30%;
    
    border: 0.740669px solid #012B05;
    transform: matrix(0, 1, -1, 0, 0, 0);
      
  }
  
  p.nomGroupe{
  position: absolute;
  height: 20px;
  margin-top: 2.5%;
  margin-left: 2.5%;
  font-family: Play;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  
  /* or 121% */
  letter-spacing: 0.09em;
  
  color: #000000;
  }
  div.navListeGroupe > ul>li{
    list-style: none;
  }
  div.listeOmbreGroupe{
  position: absolute;
  width: 18%;
  height: 50px;
  left: 3%;
  margin-top: 5%;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(12, 119, 17, 0.8);
  }
  
  button.btn-croix{
    margin-left: 460%;
    border: none;
  }
  
  .btn-mProfil{
  position: inherit;
  width: 9%;
  margin-left: 60%;
  top: 95%;
  
  font-family: Play;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  
  /* or 175% */
  text-align: center;
  letter-spacing: 0.09em;
  }
  
  div.infosOmbragees{
  position: inherit;
  height: 53px;
  width : 500px;
  background: #FFFFFF;
  box-shadow: 4px 4px 4px rgba(3, 73, 8, 0.55);
  border-radius: 15px;
  font-family: Play;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  line-height: 50px;
  margin-left:37%;
  margin-top: 7.5%;
  }
  
  
  h4.rubriqueInfo{
  margin-top: 5%;
  position: absolute;
  width: 14.5%;
  height: 28px;
  left: 33%;
  text-align: justify;
  
  
  font-family: Play;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  
  /* or 121% */
  letter-spacing: 0.09em;
  
  color: #000000;
  }
  ul.d-flex>li{
    margin-top: 7%;
  }
  div.imgProfil{
  position: absolute;
  width: 176px;
  height: 176px;
  left: 72.5%;
  top: 30%;
  
  border: 3px solid #024609;
  box-sizing: border-box;
  }
  div.form-group-prenom-modif{
    position: absolute;
    width: 40%;
    height: 32px;
    left: 29%;
    top: 10%;
    font-family: Play;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 25px;
  
  }
  div.form-group-nom-modif{
    position: absolute;
    width: 40%;
    height: 32px;
    left: 29%;
    top: 20%;
    font-family: Play;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 25px;
  
  }
  
  h1#titre-nom-role {
    width: 100%;
    text-align: center;
    height: 5%;
    top: 0%;
    background-color: green;
  }
  
  .titrelistedroit{
    text-align: center;
    background-color: rgb(85, 156, 85);
    top:0%;
  }
  
  div.form-group-email-modif{
    position: absolute;
    width: 40%;
    height: 32px;
    left: 29%;
    top: 30%;
    font-family: Play;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 25px;
  }
  
  .btnconfirmchang{
    position: absolute;  
    /* or 106% */
    
    color: #FBF4F4;
    width: 10%;
    height:15%;
    left: 28%;
    top: 65%
  }
  .form-group-mdp-modif{
    position: absolute;
    width: 40%;
    height: 32px;
    left: 29%;
    font-family: Play;
    top: 40%;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 25px;
  }
  .form-group-Cmdp-modif{
    position: absolute;
    width: 40%;
    height: 32px;
    left: 29%;
    top: 50%;
    font-family: Play;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 25px;
  }
  @media (max-width:1500px){
    section.sectprofil{
      width: 100%;
      height: 160vh;
    }
      h1.titreProfil{
      width: 55%;
      top: 23%;
      font-size:180%
      }
    
      h3.titrelisteGroupes{
    top:25%;
    font-size: 18px;
    }
    .ligneGaucheProfil{
    width: 45%;
    margin-top: 40%;
      
    }
    
    .ligneDroiteProfil{
      width: 45%;
      margin-top: 40%;
    }
    ul.d-flex>li{
      margin-top: 7%;
    }
    p.nomGroupe{
    font-size: 16px;
    line-height: 20px;
    }
  
    div.navListeGroupe > ul>li{
      list-style: none;
    }
  
    div.listeOmbreGroupe{
    height: 50px;
    margin-top: 6%;
    }
    
    button.btn-croix{
      margin-top: 5%;
      margin-left: 275%;
    }
    
    .btn-mProfil{
    font-size: 12px;
    line-height: 22px;
    border-radius : 4px;
    }
    
    div.infosOmbragees{
    height: 45px;
    width : 400px;;
    font-size: 90%;
    line-height: 50px;
    }
    
    div.pageMilieuprofil{
      margin-top:5%;
      
    }
    
    h4.rubriqueInfo{
      font-size: 15px;
    }
    div.imgProfil>img{
      width: 130px;
      height: 130px;
    }
    div.imgProfil{
    width: 136px;
    height: 136px;
    }
    div.form-group-prenom-modif{
      width: 60%;
      height: 25px;
      left: 22%;
      top: 11%;
      font-size: 20px;
      line-height: 25px;
    
    }
    div.form-group-nom-modif{
      width: 60%;
      height: 25px;
      left: 22%;
      top: 23%;
      font-size: 20px;
      line-height: 25px;
    
    }
    div.form-group-email-modif{
      width: 60%;
      height: 25px;
      left: 22%;
      top: 36%;
      font-size: 20px;
      line-height: 25px;
    }
    
    .btnconfirmchang{
      position: absolute;  
      /* or 106% */
      
      color: #FBF4F4;
      width: 10%;
      height:15%;
      left: 21%;
      top: 80%
    }
  
    .form-group-mdp-modif{
      width: 60%;
      height: 25px;
      left: 22%;
      top: 49%;
      font-size: 20px;
      line-height: 25px;
    }
    .form-group-Cmdp-modif{
      width: 60%;
      height: 25px;
      left: 22%;
      top: 62%;
      font-size: 20px;
      line-height: 25px;
    }
  }